In [3]:
import re
'''
re module is used for regular expression

===>>> To extract the data from file

===>> to modify the regular 

===>> to delete the regular
'''
# functions for re
'''
===>> search() --->>. to check the regular expressionis available with in whole str
===>> match()  --->>  to check the regular exp at bigging of str
===>> findall()  ---->>  to return the list 
===>> sub()  ------>>> to replace the data
'''
data = "anjan kumar python program"
print re.search(r"kumar",data)
print re.search(r"kumar1",data)

<_sre.SRE_Match object at 0x00000000047B7780>
None

In [5]:
data = "anjan kumar python program"
print re.match(r"kumar",data)
print re.search(r"anjan",data)

None
<_sre.SRE_Match object at 0x00000000047B7718>

In [6]:
data = "anjan kumar python anil kumar paresh kumar program"
print re.findall(r"kumar",data)
print re.findall(r"kumar1",data)

['kumar', 'kumar', 'kumar']
[]

In [12]:
data = "anjan kumar python anil kumar paresh kumar program"
print data
print re.sub(r"kumar","",data)# delete
print re.sub(r"kumar","KUMAR",data)

anjan kumar python anil kumar paresh kumar program
anjan  python anil  paresh  program
anjan KUMAR python anil KUMAR paresh KUMAR program

In [2]:
#special characters

#  . --->>> match any single character
import re
data = "an3an aravind anusha arun dom"
re.findall(r'an.',data)

['an3', 'an ', 'anu']

In [14]:

#  [group of  character] --->>> from square match any single character
import re
data = "an3anTaravind anu an sha arun dom"
re.findall(r'an[0-9a-zA-Z ]',data)

['an3', 'anT', 'anu', 'an ']

In [16]:

#  * --->>> before the * , what ever the character is there it can repeate either  0 or more than 0
import re
data = "annjan kjdjkfj  annnnnnjan hdsh anjan jh ajan dhjdfj "
re.findall(r'an*jan',data)

['annjan', 'annnnnnjan', 'anjan', 'ajan']

In [17]:
#  + --->>> before the + , what ever the character is there it can repeate either  1 or more than 1
import re
data = "annjan kjdjkfj  annnnnnjan hdsh anjan jh ajan dhjdfj "
re.findall(r'an+jan',data)

['annjan', 'annnnnnjan', 'anjan']

In [19]:
#  ? --->>> before the ? , what ever the character is there it can repeate either  0 or 1
import re
data = "annjan kjdjkfj  annnnnnjan hdsh anjan jh ajan dhjdfj "
re.findall(r'an?jan',data)

['anjan', 'ajan']

In [22]:
#  \d ---->>> it match only single digit
import re
data ="a2jan anjan a@jan aNjan a7jan"
re.findall(r'a\djan',data)

['a2jan', 'a7jan']

In [25]:
#  \D ---->>> it match only single charaacter that to its not a digit
import re
data ="a2jan anjan a@jan aNjan a7jan"
re.findall(r'a\Djan',data)

['anjan', 'a@jan', 'aNjan']

In [27]:
#  \s ---->>> it match only single space
import re
data ="a jan anjan a@jan a jan a7jan"
re.findall(r'a\sjan',data)

['a jan', 'a jan']

In [29]:
#  \S ---->>> it match only single character except space
import re
data ="a jan anjan a@jan a jan a7jan"
re.findall(r'a\Sjan',data)

['anjan', 'a@jan', 'a7jan']

In [30]:
#  \w ---->>> it match only single  either digits or alphabet
import re
data ="a jan anjan a@jan a jan a7jan"
re.findall(r'a\wjan',data)

['anjan', 'a7jan']

In [32]:
#  \W ---->>> it match only single  special character
import re
data ="a jan anjan a@jan a jan a7jan"
re.findall(r'a\Wjan',data)

['a jan', 'a@jan', 'a jan']

In [34]:
# wap find the phone numbers from a data
data = "jhgfh9634123789jkgjg7845034516gjgh"
re. findall(r'\d{10}',data)

['9634123789', '7845034516']

In [ ]:
### wap for the read a file and find out phone numbers and mails and store into another file

In [ ]:
###